@keyframes fly {
  0% {
    transform: translateY(0) rotateX(0);
  }

  100% {
    transform: translateY(-40px) rotate3d(3, 2, 1, 30deg);
  }
}

.container {
  width: 100%;
  height: 100vh;
  border: 2px solid red;

  .header {
    nav {
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      top: 0;
      height: 50px;
      width: 100%;
      border: 2px solid red;
      border-radius: 50px;
      background-color: aqua;
      
      .navLogo {
        margin-left: 10px;
        border: 2px solid red;
      }
      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding-right: 20px;

        li {
          display: flex;
          text-align: center;
          margin: 10px;
          padding: 5px 10px;
          gap: 5px;
          border: 2px solid red;
          border-radius: 10px;
        }
      }
    }

    h1 {
      font-weight: 800;
      font-size: 2rem;
      margin: 0;
      margin-top: 50px;
      margin-bottom: 6px;
      max-height: 100px;
    

      img {
        max-width: 100%;
      }
    }

    h3 {
      font-weight: 300;
      font-size: 1.25rem;
      margin: 0;
    }
  }
  
  .allProducts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    img {
      width: 100%;
    }
  }
}
